{% extends 'hyfy/header.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block links_block %}
<link rel="stylesheet" type="text/css" href="/static/CSS/login.css"> 
{% endblock %}

{% block main_block %}
<br>

<div class="flex">
<!--
    <div class="loginbox">
        <div class="head">
            <h1>Login</h1> 
        </div>
        <div class="loginform">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Log in" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <br>
        <p class="notmem">
            Not a member?
            <a href="{% url 'registration_register' %}">Register</a>
        </p>

    </div>
-->
    <div class="spotloginbox">
            <a href="{% url "social:begin" "spotify" %}"><img src="/media/spotifylogo.png" width="400" height="400"  alt="spotifylogon"></a>
    </div>
</div>




{% endblock %}