* {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    
}

html{
    background: url(/static/images/Glasgow_image.jpg) no-repeat top center fixed; 
    background-size: cover;

}

.header {  
    height: 125px;
    background-color: #bdc3c7;
    opacity: .8;
    min-width: 500px;
    overflow: hidden;
    position: relative;
}




h1 {
    float: left;
}


.pageTitle {
    font-size: 20px;
    padding-left: 5%;
    padding-top: 5%;
}

.search {
 float: right;
    padding-top: 60px;
    padding-left: 5%;
}

.searchText {
  float: left;
  border: 2px solid #6d6d6d;
  padding-left: 8%;
  border-radius: 8px;
}

.searchButton {
  float: right;
  position: absolute;  
  border: 1px solid #6d6d6d;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.searchText:focus{
  color: #000000;
}



.buttons{
float: right;
}

.signin{
float: left;
}

.signup{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

.signinButton, .signupButton {
  background-color: #9a9a9a; 
  font-size: 12px;
  border: none;
  color: white;
  padding: 1px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


.textBox {
    float: left;
    position: absolute;
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    border: 3px solid #9a9a9a ;
    opacity: .9;
    border-radius: 40px;
}

.about{
   


}

.aboutUsText {
    font-size: 16px;
    margin: 3%;
    padding: 3%;
    padding-bottom: 50%;
    height: inherit;
    border: 1px solid #9a9a9a;
    border-radius: 35px;
}

.userForm {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    font-size: 12px;
}

.textArea {
    height: inherit;
    margin-top: 5%;
    margin-left: 5%;
    color: black;
    width: 90%;
    padding: 3%;
    border-radius: 35px;

}

.email {
    width: 40%;
}

.password {
    width: 15%;
}


.glasgowUni, .clydeside { 

    width: 30%;
    border-radius: 60px;
    border: 5px solid #ffffff ;
}

.glasgowUni {
    position: absolute;
    top: 30px;
    right: 90px;
}

.clydeside { 
    position: absolute;
    top: 260px;
    right: 90px;
}

.container {
 
}

img {}
  width: 100%;
  height: auto;
}

.directories {
    margin-top: 12px;
}

.ContactUsButton {
    margin-left: 1%;
}

.pageTitle {
    
}

#about_images {
    position: relative;
    top: 0;
    
}
