#column {
    width: 70%;
    height: 71vh;
    margin: 0 auto; 
}
#main-box {
    height: 105%;
    background-color: rgba(189,195,199, 0.4);
    overflow: hidden;
    margin-top: 2%;
}

#pofile-box {
    float: left;  
    background-color: white;    
    width: 42.5%;
    height: 96%;
    margin: 0 auto;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 14px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
    height: 100%;
}

#profile-space {
    width: 50px;
}

#profile-picture {
    overflow: hidden;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#account-name {
    padding-left: 40%;

    padding-top: 10%;
    font-size: 30px;
}

#line { 
    height: 0.7px;
    width: 60%;
    background-color: black;
    opacity: 0.2;
    margin-left: 1%;
    margin-top: 2%;
} 

label {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 3%;
}

#email-address {

}

.block * {
   margin-top: 2%;
    vertical-align: middle;
    white-space: nowrap;
}

.block {
    margin-top: 2%;
}

.input {
    width: auto;
    height: 21px;
    resize: none;
    overflow: hidden;

}

#bio-box {
    font-size: 10px;
    float: right;
    width: 85%;
    border: 0.5px solid black;
    padding: 4px;
    height: 100px;
    margin-right: 2%;
    overflow: hidden;
}

#bio {
    width: 45px;
}

#reviews-main-box {
    background-color: white;
    margin: 0 2em 2em 2em;
    width: auto;
    height: auto;
    font-size: 14px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.review-box {
    background-color: white;
    margin: 2em;
    width: auto;
    height: auto;
    border: 0.5px solid black;
    border-radius: 3px;
    overflow: hidden;
}

.line-review {
    height: 0.1px;
    width: 60%;
    background-color: black;
    opacity: 0.4;
    margin: 1em;
    padding: 1em;
}

.review {
    margin:0.5em;
    padding: 0.5em;
}

#review-1-box {
    font-size: 12px;
    width: 95%;
    height: 70%;
    border: 0.5px solid black;
    margin: 0 auto;
    margin: 1%;
    padding: 5px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top-section {
    width: 100%;
    height: 30%;
    margin-left: 3%;
    margin-top: 3%;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.profileInfo{
    background-color: white;
    padding: 2em;
    margin: 2em;
    width: 33%;
    opacity: 0.9;
    border-radius: 40px;
    border: 1em;
    border: 1em solid #9a9a9a;
}

.artistgrid{

    margin: 2%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 1em;
    border: solid white;
}

img{
    width: 12em;
    height: 12em;
    border:  solid white;
    border-radius: .5em;
}
