img {
    width: 100%;
    height: 100%;
}

#profile-picture {
    overflow: hidden;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#account-name {
    padding-left: 40%;

    padding-top: 10%;
    font-size: 30px;
}

#line { 
    height: 0.7px;
    width: 60%;
    background-color: black;
    opacity: 0.2;
    margin-left: 1%;
    margin-top: 1.5%;
} 

label {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 3%;
}

.block * {
    margin-top: 2%;
    vertical-align: middle;
    white-space: nowrap;
}

.block {
    margin-top: 2%;
}

.input {
    width: auto;
    height: 21px;
    resize: none;
    overflow: hidden;

}

#reviews-main-box {
    margin: 1%;
}
.review-box {
    background-color: white;
    margin: 0 auto;
    width: 98%;
    border: 0.5px solid black;
    border-radius: 20px;
    overflow: hidden;
    height: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review {
    margin:0.5em;
    padding: 0.5%;
    padding-bottom: 3%;
}

#review-1-box {
    font-size: 12px;
    width: 95%;
    height: 70%;
    border: 0.5px solid black;
    margin: 0 auto;
    margin: 1%;
    padding: 5px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top-section {
    width: 100%;
    height: 30%;
    margin-left: 3%;
    margin-top: 3%;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.profileInfo{
    background-color: white;
    padding: 2em;
    margin: 2em;
    width: 33%;
    opacity: 0.95;
    border-radius: 40px;
    border: 1em;
    border: 1em solid #9a9a9a;
}

.artistgrid{

    margin: 2%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 1em;
    border: solid white;
}

img{
    width: 12em;
    height: 12em;
    border:  solid white;
    border-radius: .5em;
}

#review-container {
    margin: 0 auto;
    border-radius: 30px;
    width: 80%;
    padding: 0.5%;
    background-color: grey;
    opacity: 0.95;
    border: 1px solid white;
}

#your-reviews-title {
    margin-left: 5%;
    background-color: white;
    border-radius: 30px;
    padding: 0.5%;
    width: 21%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#review-box-venue {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    border: 0.5px solid black;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    background-color: rgb(81, 117, 150);
    color: aliceblue;
    font-family: 'Montserrat';
    text-decoration: none;
}

#review-box-venue:hover{
    background-color: #202d3b; 
    transition: 0.5s;
}

#review-box-venue:hover .go-to-span {
    opacity: 1;
    transition: 0.5s;
}

.go-to-span {
    opacity: 0;
    background-color: #e67e22;
    width: 200px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
}
