#reviewer {
    float: left;
    margin: 0.5%;
    background-color: #fff;
}

#reviewer-picture {
    border-radius: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#reviewer-details {
    margin: 0.5%;
    padding-left: 5%;
}

#picture-box {
    overflow: hidden;
    border-radius: 50%;
    float: left;

}

#review-text {
    margin: 1%;
    margin-top: 5%;
    border: 0.5px solid black;
    padding: 0.5%;
} 