
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.genres {
    height: 75vh;
    background-color: rgba(189,195,199, 0.8);
    border: 1px solid #ffffff;
    padding-top: 2%;
    border-radius: 5px;
    overflow-y: scroll;
}

.genre-box {
    margin-bottom: 5%;
    background-color: white;
    width: 95%;
    height: 55%; 
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 4px;
    border: 1px solid #535353;
    overflow: hidden;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.venue-title{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}


h3{
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    padding-top: 0.5%;
    margin-bottom: 1%;
    padding-bottom: 0.5%;
    border: 0.5px solid black;
    display: inline-block;
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    background-color: rgb(81, 117, 150);
    color: aliceblue;
    font-family: 'Montserrat';
}


#center-column {
    width: 60%;
    margin: 0 auto; 
}


#genre1-details {
    border: 0.5px solid black;
    border-radius: 3px;
    width:inherit;
    height: 75%;
    margin: 0 auto;
    margin-left: 2%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#venue-image {
    margin: 1%;
    max-width: 17.4%;
    float: left;

}

#genre-info {
    float: left;
    width: 70%;
    height: inherit;
}

#venue-info {
    padding: 5px;
    border: 0.5px solid #9d9d9d;
    height: 100%;
    width: 100%;
}

h3:hover{
    background-color: #202d3b; 
    transition: 0.5s;
}

.genre-title-box{
    display: inline-block;
    position: relative;
    margin: 1%;
}

.genre-title-box h3{
    display: inline-block;
    padding: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.venue-title-box {
    float: right;
    margin: 1%
}
.venue-title-box h3{
    display: inline-block;
}

.genre-span {
    visibility: hidden;
    background-color: #e67e22;
    width: 200px;
    margin-left: 25%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    border: 0.5px solid black;
    border-radius: 10px;
}

.genre-title-box:hover .genre-span {
    visibility: visible;
}

#top-bar {
    display: inline-block;
    width: 100%;
}




