
.textBox-container {
    margin: 0 auto;
    padding: 2%;
    margin: 2%;
    background-color: #ffffff;
    border: 3px solid #9a9a9a ;
    opacity: .9;
    border-radius: 40px;
    height: 70vh;
}

textArea{
    margin-top: 1%;
    resize: none;
    width: 85%;
    margin-left: 1%;
}

p{
    
}

#submit-btn{
float: right;
margin: 2%;
}