.faqbox{
    background-color: white;
    padding: 1%;
    margin: 2%;
    border-radius: 40px;
    opacity: .8;
    border: 3px solid #9a9a9a ;
}

.question{
    font-size: 15px;
    font-weight: bold;
}