


#genres2-center-column {
    background-color: red;
    width: 70%;
    height: 450px;
    margin: 0 auto; 
}

#main-box {
    margin-top: 2%;
    height: 100%;
    background-color: rgba(189,195,199, 0.4);
    overflow: hidden;
}

#genres2-navigation {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 6%;
}

#city {
    float: right;
    background-color: white;
    height: 100%;
    width: 15%;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10%;
    border-radius: 3px;
}

#back {
    padding: 3px;
    margin-left: 10%;
    font-size: 15px;
    border-radius: 3px;
}



h3 {
     display: inline;
}
