
.regform {
    margin: 2%;
    padding: 2%;
    width: auto;
    background-color: #ffffff;
    border: 3px solid #9a9a9a ;
    opacity: .9;
    border-radius: 40px;
}

#user_form {
    resize: none;
}

#registration-elements {
 
}
