.flexcontainer{
    display: flex;
}

.signupformdiv{
    background-color: white;
    height: 500;
    width: 500;
    margin: 2%;
    padding: 2%;
    border-radius: 40px;
}
.testing{
    background-color: white;
    height: 400;
    width: 400;
}

.artistgrid{
    margin: 2%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    padding: .5em;
    border: solid white;
}

img{
    width: 12em;
    height: 12em;
    border:  solid white;
    border-radius: .5em;
}
