#column {
    width: 70%;
    height: 445px;
    margin: 0 auto; 
}
#main-box {
    margin-top: 2%;
    height: 100%;
     background-color: rgba(189,195,199, 0.4);
    overflow: hidden;
}

#pofile-box {
    float: left;  
    background-color: white;    
    width: 42.5%;
    height: 96%;
    margin: 0 auto;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 14px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 130%;
    height: 100%;
}

#profile-space {
    width: 50px;
}

#profile-picture {
    overflow: hidden;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    margin-top: 5%;
    width: 40%;
    height: 35%;
    border-radius: 50%;
}

#account-name {
    margin-top: 15%;
    padding-left: 50%;
    padding-bottom: 15%;
    font-size: 30px;
}

#line { 
    height: 0.7px;
    width: 60%;
    background-color: black;
    opacity: 0.2;
    margin-left: 1%;
} 

label {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 3%;
}

.block * {
  //  margin-top: 2%;
    vertical-align: middle;
}

.block {
    margin-top: 2%;
}

.input {
    width: 55%;
    height: 21px;
    resize: none;
    overflow: hidden;

}


#bio-box {
    font-size: 10px;
    float: right;
    width: 320px;
    border: 0.5px solid black;
    padding: 4px;
    height: 100px;
    margin-top: 1%;
    margin-right: 2%;
    overflow: hidden;
}

#bio {
    width: 45px;
}

#reviews-main-box {
    background-color: white;
    margin: 0 auto;
    margin-right: 1%;
    margin-top: 1%;
    width: 54%;
    height: 96%;
    font-size: 14px;
    border-radius: 3px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.review-box {
    background-color: white;
    margin-left: 2.5%;
    margin-top: 2%;
    width: 95%;
    height: 35%;
    border: 0.5px solid black;
    border-radius: 3px;
    overflow: hidden;
}

.line-review {
    height: 0.1px;
    width: 60%;
    background-color: black;
    opacity: 0.4;
    margin-left: 1%;
}

.review {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

#review-1-box {
    font-size: 12px;
    width: 95%;
    height: 70%;
    border: 0.5px solid black;
    margin: 0 auto;
    margin-top: 1%;
    overflow-y: scroll;
    padding: 5px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
