{% extends 'hyfy/header.html' %}
{% block title_block %}
AboutUs
{% endblock %}
    
{% block links_block %}     
 <link rel="stylesheet" type="text/css" href="/static/CSS/about_us.css"> 
{% endblock %}
    
{% block main_block %}
        <div class="textBox">
            <br>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About us</h2>

                <p class="aboutUsText">Hyfy is a venue rating progarmme that allows users to compare reviewers music tastes with their own. 
                        The web app was developed as part of the Internet Technology course at Glasgow University. 
                </p>
        </div> 
        
        <div id="about_images">
            <img src="/static/images/glasgow_uni.jpg" class="glasgowUni"> 
            <img src="/static/images/Clydeside.jpg" class="clydeside"> 
        </div>
{% endblock %}
