{% extends 'hyfy/header.html' %}
{% block title_block %}
AboutUs
{% endblock %}

{% load staticfiles %}


{% block links_block %} 
    <link rel="stylesheet" type="text/css" href="/static/CSS/account.css"> 
    <script>
    function imgError(image) {
    image.onerror = "";
    image.src="{{ MEDIA_URL }}profile_images/no-profile-picture.png";
    return true;
}</script>
{% endblock %}

{% block main_block %}
        <div id="column">
            <div id="main-box">
                <div id="pofile-box">
                    <div id="top-section">
                    <div id="profile-picture">
<!--                     userprofile.picture below is not rading the userprofile -->                       
                        <img src="{{ userprof.spotifyPicture }}" onerror="imgError(this);" />
                    </div>
                    <div id="account-name">
                   {{ user.username }}
                    </div>
                        </div>
                    <div class="block">
                    <label id="spotify-username">Display Name :</label>
                    <input type="text" id="spotify-username-text" value="{{ userprof.spotifyDisplayName }}"  readonly>
                    </div>
                    <div class="block">
                        <label id="email-address">E-Mail :</label>
                        <input type="text" id="email-text" value={{ user.email }} readonly>
                    </div>
                    <div class="block">
                    <label id="spotify-link">Spotify Profile Link :</label>
                    <input type="text" id="spotify-link-text" value="{{ userprof.spotifyLink }}"  readonly>
                    </div>
                    <div class="block">
                        <label id="profile-city">City :</label>
                        <input type="text" id="profile-city-text" value="Edinburgh, Obviously."  readonly>
                    </div>
                    <div class="block">
                        <label id="selected-genre">Selected Genre :</label>
                        <select>
                            <option value="jazz">Jazz</option>
                            <option value="rock">Rock</option>
                            <option value="dance">Dance</option>
                            <option value="R+B">R+B</option>
                            <option value="Classical">Classical</option>
                        </select>
                    </div>
                    <div class="block">
                        <label id="bio">BIO :</label>
                        <div id="bio-box">
                        <p>{{ userprof.bio }}</p></div>
                    </div>
                </div>

                <div id="reviews-main-box">
                    <div class="review-box">
                        <h3 class="review">Review - 25/02/19</h3>
                        <div id="line"></div>
                        <div id="review-1-box">
                            
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                    </div>
                    <div class="review-box">
                        <h3 class="review">Review - 20/02/19</h3>
                        <div id="line"></div>
                        <div id="review-1-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                    </div>
                    <div class="review-box">
                        <h3 class="review">Review - 08/02/19</h3>
                        <div id="line"></div>
                        <div id="review-1-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                    </div>
                    <div class="review-box">
                        <h3 class="review">Review - 15/01/19</h3>
                        <div id="line"></div>
                        <div id="review-1-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                    </div>
                </div>
            </div>
        </div>   
{% endblock %}
