{% extends 'hyfy/header.html' %}
{% block title_block %}
AboutUs
{% endblock %}

{% load staticfiles %}


{% block links_block %} 
    <link rel="stylesheet" type="text/css" href="/static/CSS/account.css"> 
    <script>
    function imgError(image) {
    image.onerror = "";
    image.src="{{ MEDIA_URL }}profile_images/no-profile-picture.png";
    return true;
}</script>
{% endblock %}

{% block main_block %}
    <div class="flexcontainer">
        <div class="profileInfo">
                <div id="top-section">
                        <div id="profile-picture">
                            <img src="{{ userprof.spotifyPicture }}" onerror="imgError(this);" id="profimg" />
                        </div>
                        <div id="account-name">
                       {{ userprof.user }}
                        </div>
                    </div>
                    <br> <br> <br>
                <div class="block">
                    <br>
                <label id="spotify-username">Display Name: </label>
                <input type="text" id="spotify-username-text" value="{{ userprof.spotifyDisplayName }}"  readonly>
                </div>
                <div class="block">
                <label id="spotify-link">Spotify Profile: </label>
                <input type="text" id="spotify-link-text" value="{{ userprof.spotifyLink }}"  readonly>
                </div>  
                <div class="block">
                    <label id="selected-genre">Top Genre: </label>
                    <input type="text" id="topGenre" value="{{ userprof.topGenre }}"  readonly>
                </div>
        </div>
        <div class="artistgrid">
                <div class="artist0div">
                    <a href="{{ userprof.artist0link }}" id="artist0link" target="_blank"><img src="{{ userprof.artist0imglink }}" id="artist0"/></a>
                </div>
                <div class="artist1div">
                    <a href="{{ userprof.artist1link }}" id="artist1link" target="_blank"><img src="{{ userprof.artist1imglink }}" id="artist1"/></a>
                </div>
                <div class="artist2div">
                    <a href="{{ userprof.artist2link }}" id="artist2link" target="_blank"><img src="{{ userprof.artist2imglink }}" id="artist2"/></a>
                </div>
                <div class="artist3div">  
                    <a href="{{ userprof.artist3link }}" id="artist3link" target="_blank"><img src="{{ userprof.artist3imglink }}" id="artist3"/></a>
                </div>
                <div class="artist4div">    
                    <a href="{{ userprof.artist4link }}" id="artist4link" target="_blank"><img src="{{ userprof.artist4imglink }}" id="artist4"/></a>
                </div>
                <div class="artist5div">    
                    <a href="{{ userprof.artist5link }}" id="artist5link" target="_blank"><img src="{{ userprof.artist5imglink }}" id="artist5"/></a>
                </div>
                <div class="artist6div">    
                    <a href="{{ userprof.artist6link }}" id="artist6link" target="_blank"><img src="{{ userprof.artist6imglink }}" id="artist6"/></a>
                </div>
                <div class="artist7div">    
                    <a href="{{ userprof.artist7link }}" id="artist7link" target="_blank"><img src="{{ userprof.artist7imglink }}" id="artist7"/></a>
                </div>
                <div class="artist8div">    
                    <a href="{{ userprof.artist8link }}" id="artist8link" target="_blank"><img src="{{ userprof.artist8imglink }}" id="artist8"/></a>
                </div>
            
            </div>

    </div>
    {% if reviews %}
    <div id="review-container">
        <h2 id="your-reviews-title">YOUR REVIEWS</h2>
   
        {% for review in reviews %}
        <div id="reviews-main-box">
            <div class="review-box">
                <h3 class="review">
                <a id="review-box-venue" href="/hyfy/{{ review.venue.city }}/{{ review.venue.slug }}">{{ review.venue}} - {{ review.date }}<span class="go-to-span">Go to {{ review.venue.name }}! </span></a>
                </h3> 
                
                <div id="line"></div>
                <div id="review-1-box">
                <p>{{ review.text }}</p></div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}
