{% extends 'hyfy/header.html' %}
{% block title_block %}
ContactUs
{% endblock %}
    
{% block links_block %} 

 <link rel="stylesheet" type="text/css" href="/static/CSS/contact_us.css">
{% endblock %}

{% block main_block %}
        <div class="textBox-container">
            
       
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact us</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <input id="submit-btn" type="submit" value="Submit" />
            </form>
            
        </div>
{% endblock %}
