<!DOCTYPE html>
{% load staticfiles %}
<html>
    
    <title>
    {% block title_block %}
    {% endblock %}
    </title>
 
    <head lang="en"> 
    <link rel="stylesheet" type="text/css" href="/static/CSS/header.css"> 
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
    {% block links_block %}
    {% endblock %}
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        
        <div class="header">
            <div class="HyfyLogo"><h1>HyFy</h1></div>
            
            {% if user.is_authenticated %}
            <div class="sign-in-container">
                 <div class="signin">
                     <a href="{% url 'auth_logout' %}?next=/hyfy/">Logout</a>
                 </div>
            </div>
            {% else %}
            <div class="sign-in-container">
                 <div class="signin">
                     <a href="{% url "social:begin" "spotify" %}" class="signinButton">sign in with Spotify<img id="spotify-image" src="/media/spotifylogo.png" width="40px" height="40px"  alt="spotifylogon"></a>
                 </div>
            </div>
            {% endif %}

            <div class=navBar>
                <a href="{% url 'index' %}" class="btn-Home">Home</a>
                <a href="{% url 'about_us' %}" class="btn-about-us">About Us</a>
                <a href="{% url 'contact_us' %}" class="btn-contact-us">Contact Us</a>
                {% if user.is_authenticated  %}
               <a href="/hyfy/account/{{ user.username }}">Account</a>
                {% endif %}
                <a href="{% url 'faq' %}" class="btn-faq">FAQs</a>
            </div>

             <div class="search-bar">
                 <form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
                     <input class="searchField" name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
                     <button class="searchButton" type="submit">
                         <i class="fa fa-search"></i>
                     </button>
                 </form>
                </button>
            </div>   
        </div>

        {% block main_block %}
        {% endblock %}
        
        
   
    <script type = "text/javascript">
        function changeBackgroundImageWithCity(){
            document.body.style.backgroundImage = "url('/static/images/{{ city.slug }}.jpg')";
        }
        function changeBackgroundImageWithVenue(){
             document.body.style.backgroundImage = "url('/static/images/{{ venue.city.slug }}.jpg')";
        }
        function changeBackgroundImageToDefault(){
             document.body.style.backgroundImage = "url('/static/images/glasgow.jpg')";
        }
    </script>
    </body>
</html>