<!DOCTYPE html>
<html>
    
    <head lang="en"> 
    <link rel="stylesheet" type="text/css" href="/static/CSS/header.css"> 
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <div class="header">
            <div class="HyfyLogo"><h1>HyFy</h1></div>
            <h2 class="pageTitle"></h2>

            <div class="btn-singupin">
                 <div class="signin">
                     <a href="/templates/Hyfy/login.html" class="signinButton">sign in</a>
                 </div>

                 <div class="signup">
                     <a href="/templates/Hyfy/signup.html" class="signupButton">sign up</a>
                 </div>
            </div>

            <div class=navBar>
                <a href='/templates/Hyfy/homepage.html' class="btn-Home">Home</a>
                <a href='/templates/Hyfy/about_us.html' class="btn-about-us">About Us</a>
                <a href='/templates/Hyfy/contact_us.html' class="btn-contact-us">Contact Us</a>
                <a href='/templates/Hyfy/account.html' class="btn-Myaccount">My Account</a>
            </div>

             <div class="search-bar">
                <input type="text" class="searchText" placeholder="Search venues?">
                <button type="submit" class="searchButton"><i class="fa fa-search"></i>
                </button>
            </div>   
        </div>

        <div>

        </div>   
    </body>
</html>