<!DOCTYPE html>
<html>

    <head>  
        <title>HyFy</title>
           
    <link rel="stylesheet" type="text/css" href="/static/CSS/homepage.css"> 
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
         <div class="header">
             <div class="HyfyLogo"><h1>HyFy</h1></div>
           <div class="btn-singupin">
                 <div class="signin">
                     <a href="#" class="signinButton">sign in</a>
                 </div>

                 <div class="signup">
                     <a href="#" class="signupButton">sign up</a>
                 </div>
            </div>

            
                <div class="search">
                    <input type="text" class="searchText" placeholder="Search venues?">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i>
                    </button>
                </div>     
         
             
        </div>
 
         <div class="container">
          
             <div class="tag-box">
                <h2>Discover nightlife in. . .</h2>
            </div>                 
            
            <div class="city-box">
                <ul>
                    <li><a>CITY? <i class="icon ion-md-arrow-dropdown"></i></a>
                        <ul> 
                            <div class="city-list">
                                <li><a>Glasgow</a></li>
                                <li><a>Edinburgh</a></li>
                                <li><a>Dundee</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>

    </body>


</html>