{% extends 'hyfy/header.html' %}
{% block title_block %}
    HyFy
{% endblock %}
    
{% block links_block %} 
    <link rel="stylesheet" type="text/css" href="/static/CSS/homepage.css"> 
{% endblock %}

{% block main_block %}
     <div class="container">
          
             <div class="tag-box">
                <h2>Discover nightlife in. . .</h2>
            </div>                 
            
            <div class="city-box">
                <ul>
                    <li><a>CITY? <i class="icon ion-md-arrow-dropdown"></i></a>
                        {% if cities %}
                        <ul> 
                            <div class="city-list" >
                                {% for city in cities %}
                                <li><a href="/hyfy/{{ city.slug }}">{{ city.name }}</a></li>
                                {% endfor %}
                            </div>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
            
        </div>

{% endblock %}