{% extends 'hyfy/header.html' %}

{% block title_block %}
    FAQ
{% endblock %}

{% block links_block %}
<link rel="stylesheet" type="text/css" href="/static/CSS/login.css"> 
{% endblock %}

{% block main_block %}
<div id="main-box">
    <div id="hyfy-login"><h1>Login with HyFy</h1>
    <div id="login-box">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
           <div class="input-box"><p>Username:</p><input type="text" name="username" value="" size="35" /></div>
            <br />
           <div class="input-box"><p>Password:</p><input type="password" name="password" value="" size="35" />
        </div>
            <input  type="submit" value="submit" />
        </form>
        </div>
    </div>
    
    <div id="spotify-login"><h1>Login with Spotify</h1>
    <div id="login-box">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
           <div class="input-box"><p>Username:</p><input type="text" name="username" value="" size="35" /></div>
            <br />
           <div class="input-box"><p>Password: </p><input type="password" name="password" value="" size="35" />
        </div>
            <input  type="submit" value="submit" />
        </form>
        </div>
    </div>
    
</div>
{% endblock %}