<!DOCTYPE html>
{% load staticfiles %}
<html>
    <link rel="stylesheet" type="text/css" href="/static/CSS/ajax_comment.css">
    <script src="/hyfy/static/js/hyfy-venue.js">
        var csrf_token = '{{ csrf_token }}';
    </script> 
    <div id="submitted-review-box">
        
        {% if reviews %}   
            {% for review in reviews %}
            <div class="review-block">
                <div id="review-user">
<!--        
            <div id="reviewer">
                <div id="picture-box">
                <img id ="reviewer-picture" src="/media/profile-pictures/Barry.png" alt="dunno" />
                </div>

                <h4 id="reviewer-details">{{ review.username }} - {{ review.date }</h4>
            </div>
-->
                        {{ review.username }}
                    </div>
                <div id="review-text">
                    <p>{{ review.text }}</p>
                </div> 
            </div>
            {% endfor %}
        {% endif %}
    </div>
</html>