<!DOCTYPE html>
{% load staticfiles %}
<html>
    <link rel="stylesheet" type="text/css" href="/static/CSS/venue.css"> 
    <div id="submitted-review-box">
        
       <div id="review-display">
                        {% if reviews %}   
                        {% for review in reviews %}
                        
                            <div class="review-block">
                                <div id="review-user">
                                <strong>{{ review.username }} - {{ review.date }}</strong> <!-- {{ review.date }} -->
                                </div>
                                <div id="review-text">
                                    <p>{{ review.text }}</p>
                                </div> 
                    
                                </div>
                        {% endfor %}
                        {% endif %}
        </div>
    </div>
</html>