{% extends 'hyfy/header.html' %}

{% block title_block %}
{% endblock %}

{% block links_block %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
</script>
<link rel="stylesheet" type="text/css" href="/static/CSS/thanks.css"> 

{% endblock %}

{% block main_block %}
<div class="flexcontainer">
<div id="thanksuser" class="thanksuser">
     loading...
</div>
<div class="artistgrid">
    <div class="artist0div">
        <a href="" id="artist0link" target="_blank"><img src="" id="artist0"/></a>
    </div>
    <div class="artist1div">
        <a href="" id="artist1link" target="_blank"><img src="" id="artist1"/></a>
    </div>
    <div class="artist2div">
        <a href="" id="artist2link" target="_blank"><img src="" id="artist2"/></a>
    </div>
    <div class="artist3div">    
        <a href="" id="artist3link" target="_blank"><img src="" id="artist3"/></a>
    </div>
    <div class="artist4div">    
        <a href="" id="artist4link" target="_blank"><img src="" id="artist4"/></a>
    </div>
    <div class="artist5div">    
        <a href="" id="artist5link" target="_blank"><img src="" id="artist5"/></a>
    </div>
    <div class="artist6div">    
        <a href="" id="artist6link" target="_blank"><img src="" id="artist6"/></a>
    </div>
    <div class="artist7div">    
        <a href="" id="artist7link" target="_blank"><img src="" id="artist7"/></a>
    </div>
    <div class="artist8div">    
        <a href="" id="artist8link" target="_blank"><img src="" id="artist8"/></a>
    </div>

</div>

</div>

<script src="/static/js/spotifyPipline.js"></script>
{% endblock %}
