{% extends 'hyfy/header.html' %}
{% block title_block %}
Venue
{% endblock %}
    
{% block links_block %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/hyfy/static/js/venue.js"></script>
    <script type="text/javascript"> 
        var csrf_token = '{{ csrf_token }}';
        var venue_slug = '{{ venue.slug }}';
    
    document.getElementById('review_form').action = "/hyfy/add_review/{{ user.username }}/{{ venue_slug }}/";

    </script>
    <link rel="stylesheet" type="text/css" href="/static/CSS/venue.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
        
{% block main_block %}     
        {% if venue %}
        <div id="genres2-navigation">
        <script>changeBackgroundImageWithVenue();</script>
           <a href="/hyfy/{{ venue.city.slug }}" id="back"><i class="icon ion-md-arrow-back"></i><h3> BACK TO TOP VENUES</h3></a>
            
           
            <div id="city"><h3 id="city-title">{{ venue.city }}</h3>
            </div>
        </div>
            
            <div id="genres2-center-column">
                <h2 id="venue-name">{{ venue.name }}</h2>
                <div id="main-box">
                    <div id="top-row">
                        <div id="venue-picture">
                            <img src="/static/images/venues/{{ venue.name }}.jpg">
                        </div>
                        <div id="venue-bio">

                        </div>
                        <div id="googleMap"></div>
                    </div>
                    <div id="second-row">
                        
                        <iframe id="review-frame" src="/hyfy/add_review/{{ user.username }}/{{ venue.slug }}" frameborder="0" allowfullscreen></iframe>
                        <!-- <div id="leave-review-box">
                            {% if user.is_authenticated %}
                            commment this too!!!<textarea  name="comment" form="reviewForm" class="textArea" placeholder="If you're logged in, please leave a review here."></textarea> -->
                            <!-- <form id="review_form" method="post" action="/hyfy/add_review">
                                {% csrf_token %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hiden }}
                                {% endfor %}
                                {% for field in form.visible_fields %}
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                    {{ field }}
                                {% endfor %}
                                <input type="submit" name="submit" value="Create Review" />
                            </form>
             
                            <button id="submitbutton">
                            {% else %}
                            <div class="login">
                                <a href="{% url 'auth_login' %}" class="login-btn">log in to leave a review</a>
                            </div>
                            {% endif %}
                        </div> -->
                        
                        
                        
                        
                        
<!--                        <iframe id="review-display" src="/hyfy/show_review/{{ user.username }}/{{ venue.slug }}" frameborder="0" allowfullscreen></iframe>-->

                        
                        
                        
                        
                       <!-- <div id="submitted-review-box">
                            
                            <div id="reviewer"> 
                         src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                                <div id="picture-box">
                                <img id ="reviewer-picture" src="/media/profile-pictures/Barry.png" alt="dunno" />
                                </div>
                                <h4 id="reviewer-details">Barry Galbraith - { date }</h4>
                            </div>
                            
                            <div id="review-text">
                            <p>
                                lorem etc</p>
                            </div>
                      
                        </div>
                    </div> -->
                </div>           
            </div>
        {% endif %}
 <script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var myLocation = new google.maps.LatLng(parseFloat({{33.7238029}}), parseFloat(-117.267504, 17));
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8WJxmedig_2H0W1fe4-cLAXoppDt_7Ss&callback=myMap"></script>

{% endblock %}
