{% extends 'hyfy/header.html' %}
{% block title_block %}
Venue
{% endblock %}
    
{% block links_block %} 
    <link rel="stylesheet" type="text/css" href="/static/CSS/venue.css">    
{% endblock %}
        
{% block main_block %}           
              
        <div id="genres2-navigation">
            <button id="back"><i class="icon ion-md-arrow-back"></i><h3> BACK TO GENRE</h3></button>
            <div id="city"><h3 id="city-title">GLASGOW<i class="icon ion-   md-arrow-dropdown"></i></h3>
            </div>
        </div>
                
            <div id="genres2-center-column">
                <h2 id="venue-name">VENUE NAME</h2>
                <div id="main-box">
                    <div id="top-row">
                  <div id="venue-picture">
                     <!--src="{{ MEDIA_URL }}{{ userprofile.picture }}" -->
                        <img src="/static/images/glasgow/Garage.jpg" alt="{{selecteduser.username}}" />
                </div>
                <div id="venue-bio">
                        
                        </div>
                
                    
                    <div id="googleMap"></div>
                </div>
                <div id="second-row">
                    <div id="likes-box">
                    
                    </div>
                    
                </div>
                    
                
                
                
                </div>
                
                
            </div>
 
        
 <script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var myLocation = new google.maps.LatLng(parseFloat(33.7238029), parseFloat(-117.267504, 17));
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8WJxmedig_2H0W1fe4-cLAXoppDt_7Ss&callback=myMap"></script>

{% endblock %}
